<h1>developer portfolio</h1>

<p>
  I taught my self to be a developer while working for the wonderful <strong>Walt Disney</strong> company, where <strong>I co-developed a reporting dashboard</strong> web application for monitoring advertising campaigns.
</p>

<p>
  Currently, I'm focusing on my education full-time so I can knock-out an Associate's Degree <em>as soon as possible</em>. (My school has too many day classes at this level). Now that I'm wrapping up my first Degree, <strong>Class of 2020</strong>, I'm building out this portfolio to showcase my skills.
</p>

<div class="wrapper">

  <div class="parallax-wrapper">
    <div class="parallax-content">
      <a [routerLink]="['/portfolio/telawrence']" routerLinkActive="router-link-active">
        <div class="front telawrence">
          <div class="inner"></div>
        </div>
      </a>
      <div class="back">
        <div class="inner">
          <p>T.E. Lawrence Photography</p>
          <a [routerLink]="['/portfolio/telawrence']" routerLinkActive="router-link-active"  class="button button-normal">
            <span>view details</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-wrapper">
    <div class="parallax-content">
      <a [routerLink]="['/portfolio/wickedawesomepizza']" routerLinkActive="router-link-active">
        <div class="front wickedawesomepizza">
          <div class="inner"></div>
        </div>
      </a>
      <div class="back">
        <div class="inner">
          <p>Wicked Awesome Pizza</p>
          <a [routerLink]="['/portfolio/wickedawesomepizza']" routerLinkActive="router-link-active"  class="button button-normal">
            <span>view details</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-wrapper">
    <div class="parallax-content">
      <a [routerLink]="['/portfolio/exoticimports']" routerLinkActive="router-link-active">
        <div class="front exoticimports">
          <div class="inner"></div>
        </div>
      </a>
      <div class="back">
        <div class="inner">
          <p>Exotic Imports</p>
          <a [routerLink]="['/portfolio/exoticimports']" routerLinkActive="router-link-active"  class="button button-normal">
            <span>view details</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-wrapper">
    <div class="parallax-content">
      <a [routerLink]="['/portfolio/portfoliowebsite']" routerLinkActive="router-link-active">
        <div class="front portfoliowebsite">
          <div class="inner"></div>
        </div>
      </a>
      <div class="back">
        <div class="inner">
          <p>Portfolio Website</p>
          <a [routerLink]="['/portfolio/portfoliowebsite']" routerLinkActive="router-link-active"  class="button button-normal">
            <span>view details</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-wrapper">
    <div class="parallax-content">
      <a [routerLink]="['/portfolio/pyramidsofgiza']" routerLinkActive="router-link-active">
        <div class="front pyramidsofgiza">
          <div class="inner"></div>
        </div>
      </a>
      <div class="back">
        <div class="inner">
          <p>The Great Pyramids of Giza</p>
          <a [routerLink]="['/portfolio/pyramidsofgiza']" routerLinkActive="router-link-active"  class="button button-normal">
            <span>view details</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-wrapper">
    <div class="parallax-content">
      <a [routerLink]="['/portfolio/campaigndashboard']" routerLinkActive="router-link-active">
        <div class="front campaigndashboard">
          <div class="inner"></div>
        </div>
      </a>
      <div class="back">
        <div class="inner">
          <p>Campaign Dashboard</p>
          <a [routerLink]="['/portfolio/campaigndashboard']" routerLinkActive="router-link-active"  class="button button-normal">
            <span>view details</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
