<h1>web developer portfolio</h1>

<p>
  I taught my self to be a developer while working for the wonderful Walt Disney company where I co-developed an internal web application that was used for advertising reporting and billing.
</p>

<p>
  Currently, I'm focusing on my education full-time so I can knock-out an Associate's Degree as soon as possible, (my school has too many day classes at this level). Now that I'm wrapping up my first Degree, Class of 2020, I'm building out this portfolio to showcase my skills.
</p>

<div class="wrapper">

  <div class="parallax-wrapper">
    <div class="parallax-content">
      <div class="front wickedawesomepizza">
        <div class="inner"></div>
      </div>
      <div class="back">
        <div class="inner">
          <p>Wicked Awesome Pizza</p>
          <a [routerLink]="['/portfolio/wickedawesomepizza']" routerLinkActive="router-link-active"  class="button button-normal">
            <span>view details</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-wrapper">
    <div class="parallax-content">
      <div class="front exoticimports">
        <div class="inner"></div>
      </div>
      <div class="back">
        <div class="inner">
          <p>Exotic Imports</p>
          <a [routerLink]="['/portfolio/exoticimports']" routerLinkActive="router-link-active"  class="button button-normal">
            <span>view details</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-wrapper">
    <div class="parallax-content">
      <div class="front portfoliowebsite">
        <div class="inner"></div>
      </div>
      <div class="back">
        <div class="inner">
          <p>Portfolio Website</p>
          <a [routerLink]="['/portfolio/portfoliowebsite']" routerLinkActive="router-link-active"  class="button button-normal">
            <span>view details</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-wrapper">
    <div class="parallax-content">
      <div class="front campaigndashboard">
        <div class="inner"></div>
      </div>
      <div class="back">
        <div class="inner">
          <p>Campaign Dashboard</p>
          <a [routerLink]="['/portfolio/campaigndashboard']" routerLinkActive="router-link-active"  class="button button-normal">
            <span>view details</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
