<h1>about me</h1>

<img class="top-image" src="assets/images/laptop-with-code.png">
<!--
  Photo by Arnold Francisca on Unsplash
  https://unsplash.com/@clark_fransa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText
-->

<h2>My developer story</h2>
<p>
    I'm originally a self-taught programmer, and over the years I’ve learned many new technologies and programming languages, enough so that I can get up to speed pretty quickly on any new technology or language. Still, I feel that to be the <strong>best developer</strong> I can be, and to be competitive, it’s really best to have a <em>well-rounded education that is complete with a degree</em>. So, currently I'm a full-time student and will finish my Associate's Degree in Programming this fall. After I get my AA I'll be starting on a Bachelor’s Degree in Application Development here at North Seattle College, which is thankfully a fully night/hybrid program.  Woohoo... no more day classes!
</p>

<h2>I love challenges</h2>
<p>
    As with anything, developing websites and web applications takes time and patience as there are always new challenges to overcome. But that’s one of the main reasons I love being a developer, that and making cool stuff. So, I constantly struggle with new challenges in order to grow.
</p>

<h2>Great teams require great team members</h2>
<p>
  I’m always open to new challenges and opportunities, so if you are looking for someone to join your team, please contact me.  I’m a team player and enjoy the camaraderie and synergy of a great team.
</p>

<p><a [routerLink]="['/contact']" routerLinkActive="router-link-active"  class="button call-to-action slider"><span>Contact me</span></a></p>

<p>View my resume: <a href="assets/JustinClark_WebDeveloper.pdf" target="_blank">Resume</a></p>
