<h1>about me</h1>

<img class="top-image" src="assets/images/laptop-with-matrix-code.jpg">
<!--Photo by Markus Spiske on Unsplash
https://unsplash.com/@markusspiske?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText
https://unsplash.com/

Photo by Arnold Francisca on Unsplash
https://unsplash.com/@clark_fransa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText
-->
<h2>Well diversified background</h2>
<p>
    Before my serendipitous foray into the world of web development
    and programming, I wore many hats and I never would have guessed
    I would one day be able to build entire web sites.  But fate had
    a different plan for me.  While working as a data entry analyst
    where Microsoft Excel was the most advanced technology I had ever
    used with computers, a co-worker showed me how to view VBA source
    code created by recording macros in Excel.  Excited by being able
    to manipulate code directly, I quickly learned how to program in
    VBA without recording macros.
</p>

<h2>Growth mindset, that’s me</h2>
<p>
    Ever heard the term growth mindset?  Well, that describes me in a
    nutshell.  I love learning new things and improving—like King
    Midas—everything I touch.  I have an insatiable need to know and
    understand, to learn and to grow.  Consequently, the field of web
    development could be no greater a place for me to frolic as it is
    in constant flux.  Over the years I’ve learned many new technologies
    and programming languages, enough so that I know I can quickly get
    up to speed on any new technology.  However, mastering any skill
    takes time and patience.  So, I constantly struggle and persevere…
    because that’s what growth is.
</p>

<h2>Bright future</h2>
<p>
    Even better than my skills and abilities in web development is my
    ability to problem solve.  Which is essentially what makes an expert
    at anything, well, that and a burning desire.  So even though I’m
    not an expert yet, I am still a “jack of all trades” when it comes to
    web development, and someday not too far from now I will be an expert
    at most of what I do.
</p>

<h2>You’re so glad you found me</h2>
<p>
    You have been looking for the most awesome candidate you can find, and
    now you’ve found me and want me on your team, so go ahead and contact me now.
    <a [routerLink]="['/contact']" routerLinkActive="router-link-active"  class="call-to-action">contact me</a>
</p>

<p>View my resume: <a href="assets/justinclark_fullstackdeveloper_resume.pdf" target="_blank">Resume</a></p>
