a.slider {
  position: relative;
  overflow: hidden;
  z-index: 1;

  span {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
  }
}
a.slider:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background: dodgerblue;
  transition: 0.5s;
}
a.slider:hover:before {
  left: 0%;
}
