<h1>The Great Pyramids of Giza</h1>
<p>An image graphic I created solely with Python code.</p>

<div class="portfolio-wrapper">

  <div class="portfolio-image-container">
    <img src="../../../../assets/images/the-great-pyramids-of-giza.png" alt="Screenshot of the graphic I made of The Great Pyramids of Giza.">
  </div>

  <span class="disclaimer">*No webpage, graphic is created with a script.  View code by following GitHub link at bottom of the page.</span>

  <h2>About this Project</h2>
  <hr>

  <p>My task for this assignment was to use Python code build a scene with three different repeating scene elements of varying sizes.  Each element had to be composed of at least two shapes, and each element had to be created by calling the same function.  My three repeating scene elements where: pyramids, clouds, and birds.</p>

  <p>For the pyramids I used two triangles, one side with the appearance of sunshine (hence the sun in the upper-left corner), and the other with shadows by using slightly different shades to give the appearance of distance.</p>

  <p>I gave more depth to the image by making the clouds smaller, darker, and lower as they progress to the right of the scene.  The clouds where created with overlapping circles of varying sizes. I put light colored circles in front of black circles to make the top shadows, and a sky colored rectangle with a top black border to hide the bottoms of the circles to make the flat bottom of the clouds.</p>

  <p>I used the same overlapping circles method to create the birds and also the moon. For each bird, I used color of the background the bird was flying in front of to create the front circles.</p>

  <h2>Tech Details</h2>
  <hr>

  <p>Here's a short list of what I used to create this small project.</p>

  <ul>
    <li>Python Code</li>
    <li>Tkinter UI Library</li>
    <li>A little geometry</li>
    <li>And a lot of ingenuity</li>
  </ul>

  <h2>View the Code</h2>
  <hr>

  <p><a href="https://github.com/justinclark-dev/CSC110/blob/master/assignment-3-scene-builder-gui.py">GitHub page</a></p>

</div>
