<h1>Campaign Dashboard</h1>
<p>A reporting dashboard for monitoring advertising campaign performance, and generating revenue & billing data for cross-system data integrations.  The Campaign Dashboard was used by account managers from <strong>ABC</strong>, <strong>Disney</strong>, and <strong>ESPN</strong> for monitoring their campaigns.</p>

<div class="portfolio-wrapper">

  <div class="portfolio-image-container">
    <img src="../../../../assets/images/campaigndashboard-768x432.png" alt="Screenshot of blurred out dashboard app, with mocked-up Jira pop-up modal displayed.">
  </div>

  <span class="disclaimer">*Proprietary website, not available for showing.</span>

  <h2>About this Project</h2>
  <hr>

  <p>
    This project was the culmination of my 11 years working for Walt Disney.  I actually started off as an advertising reporting analyst, manually compiling a small handful of spreadsheet reports a day. One day, I found out about recording macros in Excel and how I could view the code, let alone manipulated it.
  </p>

  <p>
    Long story short, over the course of 11 years <strong>I taught myself how to program</strong>, to be developer, a designer, and all-around tech junkie. Along the way, I helped turn a highly manual ad reporting process into a <strong>multi-server</strong>, <strong>multi-language</strong>, ad reporting web application complete with <strong>automated UI deployments</strong>.
  </p>

  <p>
    I was the <strong>co-developer</strong> of this system and my main focuses were <strong>front-end</strong>, <strong>UX/UI</strong>, <strong>security</strong>, and <strong>server administration</strong>. Secondarily, I was focused on supporting backend services and business logic.
  </p>


  <h2>Tech Details</h2>
  <hr>

  <p>This was a huge ecosystem of many tools and processes. Here's a list of the major tech that was used.</p>

  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Bootstrap</li>
    <li>JavaScript</li>
    <li>Asp.Net (VB)</li>
    <li>Windows Server</li>
    <li>IIS</li>
    <li>SQL</li>
    <li>SSMS</li>
    <li>SSIS</li>
    <li>PowerShell</li>
    <li>Excel</li>
    <li>Ubuntu Server</li>
    <li>BASH</li>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>MongoDB</li>
    <li>CORS</li>
    <li>SAML</li>
    <li>Jira Integration</li>
  </ul>

  <h2>View the Code</h2>
  <hr>

  <p>This was a proprietary project, so that's off-limits.</p>

</div>
