<aside>
    <figure>
        <div id="avatar">
          <i class="fas fa-user fa-3x"></i>
        </div>
        <figcaption>
          <a [routerLink]="['/']">justin clark</a>
        </figcaption>
    </figure>
    <div class="menu-toggle" id="menu-toggler" (click)="toggleSlider()">
        <div class="menu-toggle-bar"></div>
        <div class="menu-toggle-bar"></div>
        <div class="menu-toggle-bar"></div>
    </div>
    <nav>
        <ul id="slider">
            <li><a [routerLink]="['/']" (click)="closeSlider()">Home</a></li>
            <li><a [routerLink]="['/about']" (click)="closeSlider()">About</a></li>
            <li><a [routerLink]="['/portfolio']" (click)="closeSlider()">Portfolio</a></li>
            <li><a [routerLink]="['/contact']" (click)="closeSlider()">Contact</a></li>
        </ul>
    </nav>
</aside>

<main>
    <router-outlet></router-outlet>
</main>
