<aside>
    <a [routerLink]="['/']">
        <figure>
            <div id="avatar"></div>
            <figcaption>
            <a>justin clark</a>
            <p>full stack developer &lt;/&gt;<p>
            </figcaption>
        </figure>
    </a>
    <div class="menu-toggle" id="menu-toggler" (click)="toggle()">
        <div class="menu-toggle-bar"></div>
        <div class="menu-toggle-bar"></div>
        <div class="menu-toggle-bar"></div>
    </div>
    <nav>
        <ul id="slider" [@openClose]="sliderOpen ? 'open' : 'closed'">
            <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeSlider()"><span>home</span></a></li>
            <li><a [routerLink]="['/about']" routerLinkActive="active" (click)="closeSlider()"><span>about</span></a></li>
            <li><a [routerLink]="['/portfolio']" routerLinkActive="active" (click)="closeSlider()"><span>portfolio</span></a></li>
            <li><a [routerLink]="['/resume']" routerLinkActive="active" (click)="closeSlider()"><span>resume</span></a></li>
            <li><a [routerLink]="['/contact']" routerLinkActive="active" (click)="closeSlider()"><span>contact</span></a></li>
            <!-- <li><a [routerLink]="['/blog']" routerLinkActive="active" (click)="closeSlider()"><span>blog</span></a></li> -->
        </ul>
    </nav>
</aside>
<main [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">
    <router-outlet #o="outlet"></router-outlet>
</main>
