$code-fonts: Consolas, Courier, monospace;
$main-font-color: rgba(220, 220, 220, 0.6);
$aside-dark: rgb(22, 22, 22);
$blue: rgb(0, 138, 206);
$shine: white;

.menu-toggle {
    width:40px;
    cursor: pointer;

    .menu-toggle-bar {
      border-top: solid 2px $blue;
      padding: 3px;
  }
}

aside {
    color: $blue;
    display: grid;
    grid-template-columns: auto 40px;
    padding: 1.5em;
    background-color: $aside-dark;
}

#avatar {
  display: none;
}

figure {
    margin: 0;
}

figcaption {
  font-size: 1.4em;
  line-height: .8em;
  font-weight: bold;
  font-family: $code-fonts;
    a {
      text-decoration: none;
      color: inherit;
    }

    p {
      display: none;
    }
}

nav {
    background: rgb(19, 17, 17);
}

#slider {
    position: fixed;
    display: block;
    background: $aside-dark;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
}

ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    display: block;
    padding: 1.5em 2em;
    background-color: rgba(27, 30, 32, 0.75);
    color: dodgerblue;
}

main {
    padding: 0 1.4em;
    color: $main-font-color;
}

:host /deep/ h1,
:host /deep/ h2,
:host /deep/ h3,
:host /deep/ h4,
:host /deep/ h5,
:host /deep/ h6 {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: .5em;
}

:host /deep/ h1 {
  font-size: 2.8em;
  text-transform: lowercase;
}

:host /deep/ h2 {
  font-size: 2em;
  margin-top: 1.4em;
}

:host /deep/ h3 {
  font-size: 1.8em;
}

:host /deep/ h4 {
  font-size: 1.6em;
}

:host /deep/ h5 {
  font-size: 1.4em;
}

:host /deep/ h6 {
  font-size: 1.2em;
}

:host /deep/ img.top-image {
    width: 100%;
    max-width: 667px;
    margin-bottom: 20px;
}

:host /deep/ a {
    color: dodgerblue;
}

:host /deep/ p {
    font-size: 1.1em;
    line-height: 1.5em;
}

:host /deep/ .button {
  display: block;
  color: #fff;
  background: #085e90;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

:host /deep/ .button-normal {
  padding: 8px 40px;
  font-size: 1.1em;
  font-weight: normal;
  margin: 2em 0;
}

:host /deep/ .call-to-action {
  padding: 8px 50px;
  font-size: 1.1em;
  font-weight: bold;
  margin: 2em 0;
}

:host /deep/ .portfolio-wrapper {
  height: 100%;

  .portfolio-image-container img {
    width: 100%;
    margin-bottom: 2em;
  }

  hr {
    border-style: solid;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  li {
    line-height: 1.8em;
  }
}

@media only screen and (min-width: 768px) {

    .menu-toggle {
        display: none;
    }

    aside {
        z-index: 1000;
        width: 20%;
        min-width: 210px;
        grid-template-columns: auto;
        grid-template-rows: 20% auto;
        height: 100%;
        position: fixed;
        padding: 0;
    }

    main {
        padding: 4em;
        width: 200% !important;
        left:100%;
        height: 100%;
        position: relative
    }

    #avatar {
        display: block;
        border-radius: 50%;
        background: rgb(27, 30, 32) url('../assets/images/justin-sm.jpg');
        transform: rotateX(180deg);
        transform: rotateY(180deg);
        background-size: 100%;
        width: 160px;
        height: 160px;
        margin: 2em auto 1em auto;
        transition: 0.2s;
        animation: shine 1.5s forwards;
        animation-delay: .8s;
    }

    @keyframes shine {
      0% {
        box-shadow: 0 0 1px $shine;
      }
      10% {
        box-shadow: 0 0 20px $shine;
      }
      20% {
        box-shadow: 0 0 40px $shine;
      }
      30% {
        box-shadow: 0 0 60px $shine;
      }
      40% {
        box-shadow: 0 0 80px $shine;
      }
      50% {
        box-shadow: 0 0 100px $shine;
      }
      60% {
        box-shadow: 0 0 80px $shine;
      }
      70% {
        box-shadow: 0 0 60px $shine;
      }
      80% {
        box-shadow: 0 0 40px $shine;
      }
      90% {
        box-shadow: 0 0 20px $shine;
      }
      100% {
        box-shadow: none;
      }
    }

    figcaption {
        font-size: 2em;
        text-align: center;
        color: $blue;

        p {
          display: block;
          color: white;
          font-size: .5em;
          line-height:.5em;
        }
    }

    ul {
        display: block !important;
        margin-top: 18em;
        position: absolute !important;
        background: none !important;
        width: 100% !important;

        a {
          position: relative;
          overflow: hidden;
          z-index: 1;

          span {
            z-index: 2;
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
          }
        }

        a.active:before {
          right: -98%;
        }

        a:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: -100%;
          background: rgb(67, 69, 71);
          transition: 0.5s;
        }

        a:hover:before {
          right: 0%;
        }
    }

    ul li a {
        padding-left: 22%;
        font-size: 1em;
    }

    ul li a.active {
        background: rgb(51, 52, 53);
    }

    /** TODO: re-incorporate mixin fixes lexically **/
    /* begin edge mixin */
    @mixin edge{
      @at-root {
        @supports (-ms-ime-align: auto) {
          & {
            @content;
          }
        }
      }
    }
    main {
        @include edge {
          left:20%;
        }
    }
    /* end edge mixin */

    /* begin firefox mixin */
    @mixin firefox {
      @at-root {
        @media screen and (min--moz-device-pixel-ratio:0)  {
          & {
            @content;
          }
        }
      }
    }

    #slider {
      transform: translateX(0%);

        @include firefox {
          transform: translateX(0%) !important;
        }
    }
    /* end firefox mixin */

    nav {
        background: none;
    }

    :host /deep/ a.button {
      display: inline-block;
      position: relative;
      overflow: hidden;
      z-index: 1;

      span {
        z-index: 2;
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    .button-normal {
      font-size: 1.2em;
      padding: 8px 50px;
    }

    :host /deep/ a.call-to-action {
      font-size: 1.2em;
      padding: .8em 3em;
    }

    :host /deep/ a.button:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #044972;
      top: 0;
      left: 0;
      clip-path: circle(100% at 50% 50%);
      transition: clip-path .6s ease-in-out;
    }

    :host /deep/ a.button:hover:before {
      clip-path: circle(0%);
    }

    :host /deep/ p {
      line-height: 2em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 950px) {

  aside {
      width: 22%;
  }

  main {
      padding: 5em;
      width: 300% !important;
  }

  #avatar {
      width: 100px;
      height: 100px;
  }

  figcaption {
    font-size: 1.4em;
  }

  ul {
    margin-top: 13em;
  }

}

@media (min-width: 950px) and (max-width: 1280px) {

  aside {
      width: 22%;
  }

  main {
      padding: 4em;
      width: 300% !important;
  }

  #avatar {
      width: 120px;
      height: 120px;
  }

  figcaption {
    font-size: 1.4em;
  }

  ul {
    margin-top: 14em;
  }
}
