@import url('https://fonts.googleapis.com/css?family=Consolas:400,700');

$code-fonts: Consolas, Courier, monospace;

.menu-toggle {
    width:40px;
    cursor: pointer;

    .menu-toggle-bar {
      border-top: solid 2px #00ff00;
      padding: 3px;
  }
}

aside {
    color: #00ff00;
    display: grid;
    grid-template-columns: auto 40px;
    padding: 1.5em;
    background-color: rgba(255,255,255,.05);
}

#avatar {
  display: none;
}

figure {
    margin: 0;
}

figcaption {
  font-size: 1.4em;
  line-height: .8em;
  font-weight: bold;
  font-family: $code-fonts;
    a {
      text-decoration: none;
      color: inherit;
    }

    p {
      display: none;
    }
}

nav {
    font-family: $code-fonts;
    background: #222;
}

#slider {
    position: fixed;
    display: block;
    background: #111;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
}

ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1em;
    display: block;
    padding: 1.5em 2em;
    background-color: rgba(255,255,255,.05);
    color: #00ff00;
}

main {
    padding: 0 1.4em;
    color: #eee;
}

:host /deep/ h1,
:host /deep/ h2,
:host /deep/ h3,
:host /deep/ h4,
:host /deep/ h5,
:host /deep/ h6 {
  text-transform: lowercase;
  margin-bottom: 20px;
}

:host /deep/ h1 {
  color: rgb(0, 138, 206);
  font-size: 2.8em;
}

:host /deep/ h2 {
  color: gold;
  font-size: 2em;
}

:host /deep/ h3 {
  color: rgb(90, 88, 222);
  font-size: 1.8em;
}

:host /deep/ h4 {
  color: orange;
  font-size: 1.6em;
}

:host /deep/ h5 {
  color: rgb(0, 138, 206);
  font-size: 1.4em;
}

:host /deep/ h6 {
  color: #fff;
  font-size: 1.2em;
}

:host /deep/ img.top-image {
    width: 100%;
    max-width: 640px;
    margin-bottom: 20px;
}

:host /deep/ a {
    color: #00ff00;
}

:host /deep/ p {
    font-size: 1.1em;
    line-height: 1.5em;
}

:host /deep/ .call-to-action {
    display: block;
    color: #fff;
    background: green;
    text-decoration: none;
    padding: 8px 50px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin: 2em 0;
}

@media only screen and (min-width: 768px) {

    .menu-toggle {
        display: none;
    }

    aside {
        z-index: 5;
        background: #111;
        width: 20%;
        grid-template-columns: auto;
        grid-template-rows: 20% auto;
        height: 100%;
        position: fixed;
        padding: 0;
    }

    main {
        padding: 4em;
        width: 200% !important;
        left:100%;
        height: 100%;
        position: relative
    }

    #avatar {
        display: block;
        border-radius: 50%;
        background: url('../assets/images/Justin-ProfileThumb.jpg');
        background-size: 100%;
        width: 160px;
        height: 160px;
        margin: 2em auto 1em auto;
    }

    figcaption {
        font-size: 2em;
        text-align: center;
        color: #00ff00;

        p {
          display: block;
          color: white;
          font-size: .5em;
          line-height:.5em;
        }
    }

    ul {
        display: block !important;
        margin-top: 18em;
        position: absolute !important;
        background: none !important;
        width: 100% !important;
    }

    ul li a {
        padding-left: 22%;
    }

    ul li a.active {
        background: #444;
    }

    ul li a:hover {
        background-color: #555;
    }

    #slider {
        transform: translateX(0%);
    }

    nav {
        background: none;
    }

    :host /deep/ .call-to-action {
        display: inline-block;
        font-size: 1.3em;
        padding: .8em 3em;
    }

    :host /deep/ p {
      font-size: 1em;
      line-height: 2em;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {

  aside {
      width: 22%;

  }

  main {
      padding: 4em;
      width: 300% !important;
  }

  #avatar {
      width: 100px;
      height: 100px;
  }

  figcaption {
    font-size: 1.4em;
  }

  ul {
    margin-top: 13em;
  }

}
