<h1>Exotic Imports</h1>
<p>A fictional exotic car rental website built with semantic HTML5 and CSS3 animations.</p>

<div class="portfolio-wrapper">

  <div class="portfolio-image-container">
    <img src="../../../../assets/images/exoticimports.png" alt="Screenshot of Exotic Imports website.">
  </div>

  <a href="https://portfolio.justinclark.dev/exoticimports.com/" class="button button-normal bounce">
    <span>visit the website</span>
  </a>

  <h2>About this Project</h2>
  <hr>

  <p>This was originally a class assignment to build a simple home page that navigates to second page.</p>

  <p>I'm currently building it into a full front-end experience to showcase my design and development skills.</p>

  <p>Being new to the "mobile first" design concept, I totally built the current draft with the desktop experience first out of habit. Now I totally get why it's much easier to do mobile first design.  I'll be rewriting the css with mobile first, so responsiveness will be coming soon.</p>


  <h2>Tech Details</h2>
  <hr>

  <p>What I am using to create this project so far.</p>

  <ul>
    <li>SASS</li>
    <li>CSS3</li>
    <li>HTML5</li>
    <li>UI/UX Animations</li>
  </ul>

  <h2>View the Code</h2>
  <hr>

  <p><a href="https://github.com/justinclark-dev/portfolio/tree/master/exoticimports.com">GitHub repo</a></p>

</div>
