<h1>T.E. Lawrence Photography</h1>
<p>A photography website built with HTML5, CSS3, JavaScript and UI animations.  Features a custom built lightbox image viewer in the image gallery.</p>

<div class="portfolio-wrapper">

  <div class="portfolio-image-container">
    <img src="../../../../assets/images/t.e.lawrence.jpg" alt="Screenshot of T.E. Lawrence Photography website.">
  </div>

  <a href="https://portfolio.justinclark.dev/t.e.lawrence.com/" class="button button-normal bounce">
    <span>visit the website</span>
  </a>

  <h2>About this Project</h2>
  <hr>

  <p>
    This was my final project in one of my web development classes.  It was a really fun assignment, and shows beautiful use of color & contrast, captivating imagery, advanced CSS3, clever animations, and elegant use of topography.  
  </p>
  <p>
    I think the most valuable experience from this project was the absolute importance of following the "mobile first" design approach.  
  </p>
  <p>
    At the outset of the project I had thought about trying mobile first, but responsiveness was not a requirement so I went with "desktop first", then towards the end I decided to make it responsive since I was 2 weeks ahead of schedule.  It ended up being a "delightfully painful" experience; painful as far as the tedious work I had to do, but delightful in the fact that I learned a very valuable lesson...  ALWAYS go <strong>mobile first</strong>.
  </p>
  <p>
    In order to remedy the situation I had to wrap all my CSS into a desktop media query and work backwards, taking out all the CSS that could be used in all devices, and then testing each declaration block in both modes to make sure I didn't get too far after breaking things.  
  </p>
  <p>
    Lastly, the animation transitions are a bit long, and I wouldn't have such long transitions on a real website, but these are in tribute to the wonderfully long transitions featured in the film "Lawrence of Arabia", of which was my inspiration for this project.
  </p>

  <h2>Tech Details</h2>
  <hr>

  <p>Here's a short list of all the tools I used in this project.</p>

  <ul>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>SASS</li>
    <li>UI/UX Animations</li>
    <li>JavaScript</li>
    <li>Material Icons</li>
  </ul>

  <h2>View the Code</h2>
  <hr>

  <p><a href="https://github.com/justinclark-dev/portfolio/tree/master/t.e.lawrence.com">GitHub repo</a></p>

</div>
