/* global styles */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Consolas:400,700');

html, body, app-root {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    background: #222;
}

@media only screen and (min-width: 768px) {

  app-root {
      display: grid;
      grid-template-columns: 20% auto;
  }

}
