@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Consolas:400,700&display=swap');

/* global styles */
html {
  background: rgba(27, 30, 32, 0.89);
}

body, app-root {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

@media only screen and (min-width: 768px) {

  app-root {
      display: grid;
      grid-template-columns: 20% auto;
  }

}
