/* global styles */

html, body, app-root {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    background: rgb(27, 30, 32);
}

@media only screen and (min-width: 768px) {

  app-root {
      display: grid;
      grid-template-columns: 20% auto;
  }

}
