object {
    width: 100%;
    height: calc(100vh + 80px);
}

iframe {
    width: 100%;
    height: calc(100vh - 80px);
}

.resume {
    opacity: 0;
    animation: fade-in .9s forwards;
    animation-delay: .5s;
}
  
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;  
    }
}