<object data="/assets/JustinClark_FullStackDeveloper.pdf#view=FitH" 
  type="application/pdf"
  class="resume">
  <iframe src="https://docs.google.com/viewer?url=https://www.justinclark.dev/assets/JustinClark_FullStackDeveloper2.pdf&embedded=true"
    class="resume"></iframe>
  <img class="resume-img" src="../../../../assets/JustinClark_FullStackDeveloper.jpg" alt="Image of my resume for full stack developer.">
</object>


<!-- 
  
  https://drive.google.com/file/d/1fBRipIeo0oSXfzsPohxIK8pvwcGi2E3J/view?usp=sharing

  https://drive.google.com/file/d/1fBRipIeo0oSXfzsPohxIK8pvwcGi2E3J/view

-->