.resume-container {
    z-index: 5;
    box-shadow: 0 0 20px #000;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.resume-container img {
    width: 100%;
    transition: .3s;
}

.resume-container:hover img {
    opacity: .5;
}

.resume-container .resume-link {
    z-index: 1;
    position: absolute;
    width: 100%;
    left: 0;
    top: -4em;
    height: 4em;
    background: #000;
    transition: 0.5s;
    color: #fff;
    text-decoration: none;
    text-align: center;

    span {
        line-height: 4em;
        position: relative; 
    }
}

.resume-container:hover .resume-link {
    top: 0;
}