<h1>Portfolio Website</h1>
<p>I'm building this portfolio website with Angular while I'm learning it, along with a lot of other new skills like CSS3 and Angular animations, SCSS, ES6, TypeScript, and Heroku.</p>

<div class="portfolio-wrapper">

  <div class="portfolio-image-container">
    <img src="../../../../assets/images/portfoliowebsite-768x432.png" alt="Screenshot of the homepage of my portfolio website.">
  </div>

  <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="button button-normal bounce">
    <span>you're already here ;)</span>
  </a>

  <h2>About this Project</h2>
  <hr>

  <p>I have experience using MongoDB, Express.js, and Node.js, therefore this project is helping me learn Angular so that I can develop using the full MEAN stack. Angular with it's CLI tool, is a great for building a front-end, but the one thing that I don't like how it downloads the full framework into the node_modules folder. It would be nice Angular could auto-load just the parts you need.</p>

  <p>This project is hosted in Heroku where I have set up a pipeline with automatic build deployments with git pushes via the terminal. Heroku is Awesome!</p>

  <h2>Tech Details</h2>
  <hr>

  <p>What I am using to create this project so far.</p>

  <ul>
    <li>Angular</li>
    <li>JavaScript</li>
    <li>ES6</li>
    <li>TypeScript</li>
    <li>NPM</li>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>Heroku</li>
    <li>CSS3</li>
    <li>SASS</li>
    <li>HTML5</li>
    <li>UI/UX Animations</li>
  </ul>

  <h2>View the Code</h2>
  <hr>

  <p><a href="https://github.com/justinclark-dev/justinclark-dev">GitHub repo</a></p>

</div>
