<h1>This Portfolio Website</h1>
<p>I'm building this website with Angular and a lot of other new skills like CSS3 animations and Angular's own animations.</p>

<div class="portfolio-wrapper">

  <div class="portfolio-image-container">
    <img src="../../../../assets/images/portfoliowebsite-768x432.png" alt="Screenshot of Wicked Awesome Pizza website.">
  </div>
    <div class="stage2">
      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="call-to-action bounce"><span>you're already here ;)</span></a>
    </div>

    <div class="stage">
      <div class="box bounce"></div>
  </div>

  <h2>About this Project</h2>
  <hr>

  <p>This project was started about a year ago. I have many years of experience as a developer but most of that time was spent on a single proprietary internal business app for a large corporation, so I'm learning a lot of new things that are really help with creating a modern web app.  It's a funny feeling to feel like such a NOOB when I've been developing for so long.  But that's the nature of this game... we must forever be NOOBs at something in this constantly evolving industry.</p>

  <h2>Tech Details</h2>
  <hr>

  <p>What I am using to create this project so far.</p>

  <ul>
    <li>Angular</li>
    <li>JavaScript</li>
    <li>ES6</li>
    <li>TypeScript</li>
    <li>NPM</li>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>Heroku</li>
    <li>CSS3</li>
    <li>SASS</li>
    <li>HTML5</li>
    <li>UI/UX Animations</li>
  </ul>

  <h2>View the Code</h2>
  <hr>

  <p><a href="https://github.com/justinclark-dev/justinclark-dev">GitHub repo</a></p>

</div>
