.portfolio-image-container {
  border: 1px solid rgb(67, 69, 71);
}

.call-to-action {
  margin: 0;
  margin-top: 2em;
  float: right;
  padding: 8px 50px;
  opacity: 0;
  animation: bounce-in 1s forwards;
  animation-delay: 1s;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: translateY(-5em);
  }

  100% {
    opacity: 1;
    transform: translateY(0em);
  }
}
