<h1>wicked awesome pizza</h1>
<p>A fictional pizza restaurant website built with semantic HTML5 and CSS3 animations.</p>

<div class="portfolio-wrapper">

  <div class="portfolio-image-container">
    <img src="../../../../assets/images/wickedawesomepizza.png" alt="Screenshot of Wicked Awesome Pizza website.">
  </div>
    <div class="stage2">
      <a href="https://portfolio.justinclark.dev/wickedawesomepizza.com/" class="call-to-action bounce"><span>visit the website</span></a>
    </div>

    <div class="stage">
      <div class="box bounce"></div>
  </div>

  <h2>About this Project</h2>
  <hr>

  <p>This was originally a class assignment to build a simple webpage that posts form data to a PHP script that emails the form data, then displays a "thank you" page. I'm building it into a fully functioning website to showcase my design and development skills.</p>

  <h2>Tech Details</h2>
  <hr>

  <p>What I am using to create this project so far.</p>

  <ul>
    <li>SASS</li>
    <li>CSS3</li>
    <li>HTML5</li>
    <li>UI/UX Animations</li>
  </ul>

  <h2>View the Code</h2>
  <hr>

  <p><a href="https://github.com/justinclark-dev/portfolio/tree/master/wickedawesomepizza.com">GitHub repo</a></p>

</div>
